// IMPORTS
@import './partials/fonts';
@import './partials/mixins';
@import './partials/variables';


// COMMON
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'AvenirNextLTPro', sans-serif;
    font-weight: 400;
}

// Navigation Bar

.menu {
    width: 100%;
    background-color: $black;
    &--inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
            height: 5rem;
            flex-direction: row;
        }
    }
    &__logo {
        margin-top: 16px;
        @include tablet {
            margin: 0 1.5rem;
            display: flex;
            align-items: center;
        }
    }
    &__nav {
        width: 100%;
        @include tablet {
            width: 40%;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        padding: 0;
        list-style: none;
        margin-bottom: 0;
        @include tablet {
            justify-content: space-around;
            align-items: center;
            margin-top: 0;
        }
        li {
            width: 50%;
            height: 100%;
            text-align: center;
            @include tablet {
                width: auto;
            }
        }
        .current-page {
            border-bottom: 5px solid $alabaster;
            padding-bottom: 0.688rem;
            @include tablet {
                border-bottom: 3px solid $alabaster;
                padding: 1.875rem 0 1.5rem;
            }
            a:link,
            a:visited {
                color: $alabaster;
            }
        }
        a {
            text-decoration: none;
            &:link,
            &visited {
                color: $silver;
            }
        }
    }
}

// HERO

.hero {
    width: 100%;
    height: 30vh;
    background-image: url('../assets/Images/noise.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    @include tablet {
        height: 45vh;
    }
    &--overlay {
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .5;
        position: absolute;
        top: 0;
    }
    &--inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        z-index: 1;
        @include tablet {
            width: 94%;
        }
        h1 {
            @include font (1.5rem, 2rem, 'AvenirNextLTPro', 700);
            width: 73%;
            color: $alabaster;
            @include tablet {
                @include font (3.75rem, 5rem, 'AvenirNextLTPro', 700);
            }
        }
    }
}

// ABOUT the Musicians

.about {
    width: 100%;
    margin-bottom:2.5rem;
    &--inner {
        width: 90%;
        margin: 0 auto;
        @include tablet {
            width: 94%;
        }
    }
    &__header {
        @include font (1.5rem, 2rem, 'AvenirNextLTPro', 700);
        margin: 2rem 0 1.5rem;
        @include tablet {
            @include font (2.25rem, 2.75rem, 'AvenirNextLTPro', 700);
            margin-top: 55px;
        }
    }
    &__image {
        width: 100%;
        @include tablet {
            height: 42vh;
            object-fit: cover;
        }
    }
    &__quote {
        @include font (1rem, 1.625rem, 'AvenirNextLTPro', 600);
        @include tablet {
            @include font (1.5rem, 2.25rem, 'AvenirNextLTPro', 700);
        }
    }
    &__quote-name {
        margin: 2rem 0 2.5rem;
        @include font (0.875rem, 1.125rem, 'AvenirNextLTPro', 600);
        @include tablet {
            @include font (1rem, 1.5rem, 'AvenirNextLTPro', 600);
        }
    }
    &__info-title {
        margin: 0;
        @include font (1rem, 1.625rem, 'AvenirNextLTPro', 600);
        @include tablet {
            @include font (1.5rem, 2rem, 'AvenirNextLTPro', 700);
        }
    }
    &__info {
        margin-top: 1.5rem;
        @include font (0.813rem, 1.125rem, 'AvenirNextLTPro', 300);
        @include tablet {
            @include font (0.9rem, 1.5rem, 'AvenirNextLTPro', 300);
            column-count: 2;
            column-width: 50%;
            column-gap: 1.5rem;
        }
        &--break {
            display: block;
            margin: 1.5rem 0;
            @include tablet {
                margin: 0;
            }
        }
    }
}

// Gallery

.gallery {
    background-color: $alabaster;
    padding: 2rem 0;
    &--inner {
        width: 90%;
        margin: 0 auto;
        @include tablet {
            width: 94%;
        }
    }
    &__title {
        @include font (1.5rem, 2rem, 'AvenirNextLTPro', 700);
        margin: 0 0 1.5rem;
        @include tablet {
            @include font (2.25rem, 2.75rem, 'AvenirNextLTPro', 700);
            margin: 0.813rem, 0 2.813rem,
        }
    }
    &__image-group {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__image {
        display: flex;
        width: 100%;
        margin: 0 0 1rem;
        @include tablet {
            width: 31%;
            margin: 0 1.5rem 1.5rem 0;
        }
        &:nth-child(3n) {
            @include tablet {
                margin-right: 0;
            }
        }
    }
}

// FOOTER

.footer {
    background-color: $black;
    color: $alabaster;
    padding-bottom: 2.5rem;
    &--inner {
        width: 92%;
        margin: 0 auto;
        @include tablet {
            width: 94%;
        }
    }
    &__top-container {
        padding-top: 28px;
        @include tablet {
            height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.75rem 0 0;
        }
    }
    &__title {
        @include font (2.25rem, 2rem, 'AvenirNextLTPro', 700);
        padding: 24px 0;        
        margin: 0;
    }
    &__icons {
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        @include tablet {
            width: 20%;
            justify-content: space-between;
            align-items: flex-end;
            padding-right: 7.5rem;
        }
    }
    &__logo {
        display: none;
        @include tablet {
            display: inline;
        }
    }    
    .contact {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
        &__team {
            margin: 1.5rem 0;
            @include tablet {
                width: 31%;
                margin: 0 0 1.5rem;
            }
        }
        &__name {
            @include font (1rem, 1.375rem, 'AvenirNextLTPro', 600);
            margin: 1.125rem 0;
        }
        &__info {
            @include font (12px, 1.375rem, 'AvenirNextLTPro', 300);
            margin: 1.125 0;
            color: $alabaster;
            text-decoration: none;
            @include tablet {
                @include font (0.875rem, 1.25rem, 'AvenirNextLTPro', 300);
                margin: 0.938rem 0;
            }
        }        
    }
    &__copyright {
        @include font (0.813rem, 1.375rem, 'AvenirNextLTPro', 300);
        margin: 0;
        @include tablet {
            display: inline;
            @include font (0.875rem, 1.25rem, 'AvenirNextLTPro', 300)
        }
    }
}
