@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: 700;
  src: url("../assets/font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf") format("woff2");
}

@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: 600;
  src: url("../assets/font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf") format("woff2");
}

@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: 400;
  src: url("../assets/font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf") format("woff2");
}

@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: 300;
  src: url("../assets/font/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf") format("woff2");
}

@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: 100;
  src: url("../assets/font/AvenirNextProLT/Linotype - AvenirNextLTPro-Thin.otf") format("woff2");
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'AvenirNextLTPro', sans-serif;
  font-weight: 400;
}

.menu {
  width: 100%;
  background-color: #323232;
}

.menu--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .menu--inner {
    height: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu__logo {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .menu__logo {
    margin: 0 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__nav {
  width: 100%;
}

@media (min-width: 768px) {
  .menu__nav {
    width: 40%;
  }
}

.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .menu__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
}

.menu__list li {
  width: 50%;
  height: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .menu__list li {
    width: auto;
  }
}

.menu__list .current-page {
  border-bottom: 5px solid #fafafa;
  padding-bottom: 0.688rem;
}

@media (min-width: 768px) {
  .menu__list .current-page {
    border-bottom: 3px solid #fafafa;
    padding: 1.875rem 0 1.5rem;
  }
}

.menu__list .current-page a:link,
.menu__list .current-page a:visited {
  color: #fafafa;
}

.menu__list a {
  text-decoration: none;
}

.menu__list a:link, .menu__list avisited {
  color: #afafaf;
}

.hero {
  width: 100%;
  height: 30vh;
  background-image: url("../assets/Images/noise.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (min-width: 768px) {
  .hero {
    height: 45vh;
  }
}

.hero--overlay {
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: .5;
  position: absolute;
  top: 0;
}

.hero--inner {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@media (min-width: 768px) {
  .hero--inner {
    width: 94%;
  }
}

.hero--inner h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  width: 73%;
  color: #fafafa;
}

@media (min-width: 768px) {
  .hero--inner h1 {
    font-size: 3.75rem;
    line-height: 5rem;
    font-family: "AvenirNextLTPro";
    font-weight: 700;
  }
}

.about {
  width: 100%;
  margin-bottom: 2.5rem;
}

.about--inner {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .about--inner {
    width: 94%;
  }
}

.about__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  margin: 2rem 0 1.5rem;
}

@media (min-width: 768px) {
  .about__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "AvenirNextLTPro";
    font-weight: 700;
    margin-top: 55px;
  }
}

.about__image {
  width: 100%;
}

@media (min-width: 768px) {
  .about__image {
    height: 42vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.about__quote {
  font-size: 1rem;
  line-height: 1.625rem;
  font-family: "AvenirNextLTPro";
  font-weight: 600;
}

@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-family: "AvenirNextLTPro";
    font-weight: 700;
  }
}

.about__quote-name {
  margin: 2rem 0 2.5rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-family: "AvenirNextLTPro";
  font-weight: 600;
}

@media (min-width: 768px) {
  .about__quote-name {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "AvenirNextLTPro";
    font-weight: 600;
  }
}

.about__info-title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.625rem;
  font-family: "AvenirNextLTPro";
  font-weight: 600;
}

@media (min-width: 768px) {
  .about__info-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "AvenirNextLTPro";
    font-weight: 700;
  }
}

.about__info {
  margin-top: 1.5rem;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "AvenirNextLTPro";
  font-weight: 300;
}

@media (min-width: 768px) {
  .about__info {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-family: "AvenirNextLTPro";
    font-weight: 300;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-width: 50%;
            column-width: 50%;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}

.about__info--break {
  display: block;
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .about__info--break {
    margin: 0;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 2rem 0;
}

.gallery--inner {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .gallery--inner {
    width: 94%;
  }
}

.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "AvenirNextLTPro";
    font-weight: 700;
    margin: 0.813rem, 0 2.813rem;
  }
}

@media (min-width: 768px) {
  .gallery__image-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.gallery__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 0 1rem;
}

@media (min-width: 768px) {
  .gallery__image {
    width: 31%;
    margin: 0 1.5rem 1.5rem 0;
  }
}

@media (min-width: 768px) {
  .gallery__image:nth-child(3n) {
    margin-right: 0;
  }
}

.footer {
  background-color: #323232;
  color: #fafafa;
  padding-bottom: 2.5rem;
}

.footer--inner {
  width: 92%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer--inner {
    width: 94%;
  }
}

.footer__top-container {
  padding-top: 28px;
}

@media (min-width: 768px) {
  .footer__top-container {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.75rem 0 0;
  }
}

.footer__title {
  font-size: 2.25rem;
  line-height: 2rem;
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  padding: 24px 0;
  margin: 0;
}

.footer__icons {
  width: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__icons {
    width: 20%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 7.5rem;
  }
}

.footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .footer__logo {
    display: inline;
  }
}

@media (min-width: 768px) {
  .footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .contact__team {
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .footer .contact__team {
    width: 31%;
    margin: 0 0 1.5rem;
  }
}

.footer .contact__name {
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  margin: 1.125rem 0;
}

.footer .contact__info {
  font-size: 12px;
  line-height: 1.375rem;
  font-family: "AvenirNextLTPro";
  font-weight: 300;
  margin: 1.125 0;
  color: #fafafa;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer .contact__info {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "AvenirNextLTPro";
    font-weight: 300;
    margin: 0.938rem 0;
  }
}

.footer__copyright {
  font-size: 0.813rem;
  line-height: 1.375rem;
  font-family: "AvenirNextLTPro";
  font-weight: 300;
  margin: 0;
}

@media (min-width: 768px) {
  .footer__copyright {
    display: inline;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "AvenirNextLTPro";
    font-weight: 300;
  }
}
/*# sourceMappingURL=global.css.map */