

// FONT-FACE

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 700;
    src: url('../assets/font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf') format('woff2');
}
@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 600;
    src: url('../assets/font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf') format('woff2');
}
@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 400;
    src: url('../assets/font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf') format('woff2');
}
@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 300;
    src: url('../assets/font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Light.otf') format('woff2');
}
@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 100;
    src: url('../assets/font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Thin.otf') format('woff2');
}

