
// IMPORTS

@import './partials/fonts';
@import './partials/mixins';
@import './partials/variables';

@import './partials/header';
@import './partials/footer';


// COMMON
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: 'AvenirNextLTPro', sans-serif;
    font-weight: 400;
}
.btn {
    @include font (13px, 20px, 'AvenirNextLTPro', 600); 
    color: $white;
    background-color: $black;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    &:hover {
        background-color: #000;
    }
}


// HERO

.hero {
    width: 100%;
    height: 472px;
    background-image: url('../assets/Images/mimi.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    padding-top: 48px;
    box-sizing: border-box;
    @include tablet {
        height: 670px;
        padding-top: 84px;
    }
    @include desktop {
        height: 70vh;
        padding: 0;
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .5;
        position: absolute;
        top: 0;        
    }   
    &--inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;     
        @include tablet {
            width: 94%;
        }
        @include desktop {
            width: 85%;
        }               
    }
    &__container{
        margin: 0;
        z-index: 1;
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__text {
        @include desktop {
            width: 70%;
        }
    }
    &__description {
        @include font (1rem, 22px, 'AvenirNextLTPro', 600);
        color: $alabaster;
        margin: 0 0 10px;
        @include tablet {
            @include font (24px, 32px, 'AvenirNextLTPro', 700);
            margin-bottom: 20px;
        }
    }
    &__title {
        @include font (36px, 50px, 'AvenirNextLTPro', 700);
        color: $alabaster;
        margin: 0 0 50px;
        @include tablet {
            @include font (3.75rem, 5rem, 'AvenirNextLTPro', 700);
            width: 80%;
            margin-bottom: 50px;
        }
        @include desktop {
            width: 94%;
        }
    }
    iframe {
        width: 288px;
        height: 100px;
        padding-bottom: 16px;
        @include tablet {
            width: 430px;
            height: 140px;
            padding-bottom: 48px;
        }
        @include desktop {
            width: 480px;
            padding: 0;
        }
    }
}


// SHOWS

.show {
    &--inner {
        width: 90%;
        margin: 0 auto 40px;
        @include tablet {
            width: 94%;
            margin-top: 48px;
        }
        @include desktop {
            width: 85%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            
        }    
        h2 {
            margin: 32px 0 16px;
            @include tablet {
                @include font (2.25rem, 2.75rem, 'AvenirNextLTPro', 700);                
            }
        }
    }
    &__container {
        @include desktop {
            width: 75%;
        }
    }
    &__table {
        &:nth-child(1) .show__body {
            display: none;
        }
        @include tablet {
            &:nth-child(1) .show__body {
                display: flex;
            }
            &:not(:nth-child(1)) .show__header {
                display: none;
            }
            &:nth-child(1) {
                .show__btn {
                    visibility: hidden;
                    margin: 0;
                }
                .show__body {
                    border-bottom: none;
                }
            }
        }
        @include desktop {
            display: flex;
            flex-direction: column;
        }
    }
    &__body {
        margin: 16px 0;
        border-bottom: 1px solid $mercury;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }
    }
    &__header {
        @include font (13px, 16px, 'AvenirNextLTPro', 600);
        color: silver;
        margin: 22px 0 0;        
    }
    &__date {
        @include font (13px, 18px, 'AvenirNextLTPro', 600);
        color: $black;
        margin-top: 13px;
        @include tablet {
            @include font (15px, 18px, 'AvenirNextLTPro', 600);
            width: 32%;
        }
    }
    &__venue,
    &__location {
        @include font (13px, 18px, 'AvenirNextLTPro', 400);
        margin-top: 13px;
        @include tablet {
            @include font (14px, 18px, 'AvenirNextLTPro', 400);
            width: 24%;
        }
        @include desktop {
            width: 20%;
        }
    }
    &__btn {
        width: 100%;
        padding: 13px 0;
        margin: 32px 0 16px;
        @include tablet {
            width: 22%;
            margin: 18px 0;
        }
        @include desktop {
            width: 20%;
            margin: 14px 0;
        }
    }
}